<div class="m-5 form-container">
  <form class="form-style" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="m-3">
      <label for="username" class="form-label">UserName</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="UserName"
        formControlName="username"
      />
    </div>
    <div class="m-3">
      <label for="name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="First Name"
        formControlName="name"
      />
    </div>
    <div class="m-3">
      <label for="last" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="last"
        placeholder="Last Name"
        formControlName="last"
      />
    </div>
    <div class="m-3">
      <label for="role" class="form-label">Role</label>
      <select
        class="form-select form-select-lg mb-3"
        aria-label="Large select example"
        id="role"
      >
        <option selected>Open this select menu</option>
        <option value="1">User</option>
        <option value="2">Admin</option>
      </select>
    </div>
    <div class="m-3 text-center">
      <button type="submit" class="btn btn-primary m-5" [disabled]="">
        Submit
      </button>
    </div>
  </form>
</div>
